## Code analysis for user 35 (Madhu Kiran Reddy) and user 36 (Palipattu Nagaraj)
### Practice id 334

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import scipy.sparse as sparse
from sklearn.externals import joblib
from sklearn import metrics
import random
import implicit
import json
import re

pd.set_option('display.max_colwidth', -1)

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

## Creating list of dataframe of all tables, a dictionary mapping to corresponding dataframe

In [7]:
# Dictionary of all the tables and their columns
table_columns = {}

# Dictionary of all dataframes mapped with table names
df_all = {}

# List of all dataframes of all tables
df_list = []

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    df_list.append(df)
    table_columns[table] = list(df.columns)

In [48]:
code_35 = df_all['code_play_backs'][((df_all['code_play_backs']['user_id'] == 35)) & 
                          (df_all['code_play_backs']['practice_id'] == 334)].sort_values('created_at', ascending = False).head(1)['statement']

In [49]:
code_36 = df_all['code_play_backs'][((df_all['code_play_backs']['user_id'] == 36)) & 
                          (df_all['code_play_backs']['practice_id'] == 334)].sort_values('created_at', ascending = False).head(1)['statement']

In [50]:
code_35

77015    {'code': 'class Weight {
	constructor(a,b) {
		this.str = a;
		this.str1 = b
	}
	compare() {
		let sum = 0;
		let sum1 =0;
		const alp = 'abcdefghijklmnopqrstuvwxyz';
		for(var i=0;i<alp.length;i++) {
			for(var j =0;j<this.str.length;j++) {
				if(this.str[j] === alp[i]) {
					sum += i+1;
				}
			};
		 for(var k=0; k<this.str1.length;k++) {
			if(this.str1[k] == alp[i]){
				sum1 += i+1;
			}
		};
			if(sum > sum1){
				return 2;
			} else if(sum < sum1) {
				return 1;
			} else {
				return 'equal';
			}
		}
	}
}

function strWeight(a,b){
	let w1 = new Weight(a,b);
	return w1.compare();
}'}
Name: statement, dtype: object

In [51]:
code_35 = code_35.iloc[0]['code']
# code_35 = re.sub('\s+', ' ', code_35)

In [52]:
# code_35

In [53]:
# code_36

In [54]:
code_36 = code_36.iloc[0]['code']
# code_36 = re.sub('\s+', ' ', code_35)

In [55]:
# code_36

In [57]:
f = open("user_35.js", "a")
f.write(code_35)

590

In [58]:
f = open("user_36.js", "a")
f.write(code_36)

569

In [80]:
import subprocess, sys

perl_script = subprocess.Popen(["E:\\Strawberry\\perl\\bin\\perl.exe", "moss.pl -l javascript user_35.js user_36.js user_37.js"], stdout=subprocess.PIPE, shell=True)
perl_script.communicate()

(b'', None)