# Assignment Statistics

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

## Creating list of dataframe of all tables, a dictionary mapping to corresponding dataframe

In [4]:
# Dictionary of all the tables and their columns
table_columns = {}

# Dictionary of all dataframes mapped with table names
df_all = {}

# List of all dataframes of all tables
df_list = []

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    df_list.append(df)
    table_columns[table] = list(df.columns)

In [5]:
user_submissions = df_all['submissions'] \
    .merge(df_all['assignments'], left_on='assignment_id', right_on='id') \
    .merge(df_all['taggings'], left_on='assignment_id', right_on='taggable_id') \
    .merge(df_all['tags'], left_on='tag_id', right_on='id') 
user_submissions.drop(['statement', 'output', 'language', 'created_at_x', 'updated_at_x', 'is_checked',
       'body', 'url', 'created_at_y', 'updated_at_y', 'user_id_y', 'source', 'tagger_type', 'created_at'], axis=1, inplace=True)
user_submissions['time_in_minutes'] = user_submissions['time_in_seconds'] / 60

In [24]:
mean_assignments = user_submissions.groupby(['assignment_id', 'code', 'title'])['time_in_minutes'].mean()
mean_assignments.head(10)

assignment_id  code     title
13             DCT1bab  Merge two strings           0.000000
14             DCT31db  Temperature Converter    3040.931250
15             DCTe2dc  Ask Politely               65.600000
17             DCT310f  Max Of Three              305.463021
20             DCTc6e7  Is it Divisible             0.017708
22             DCTc672  Factorial                 451.390278
23             DCTb800  Say Again                2124.043082
24             DCT6d6b  Count the Vowels         1772.498333
26             DCT63a6  The Array Cafe           2237.116279
27             DCTc502  Fullstack Jack             67.421429
Name: time_in_minutes, dtype: float64

In [23]:
mean_assignments.sort_values().head(10)

assignment_id  code     title
68             DCTebef  string is blank or not       -38.652083
71             DCT0e0d  string in abbreviated form   -29.735294
69             DCTbfae  convert to array             -28.702778
93             DCTc533  Repeat a string              -22.616667
344            DCTc20e  Find Even or Odd              -7.508730
13             DCT1bab  Merge two strings              0.000000
20             DCTc6e7  Is it Divisible                0.017708
339            DCT71e7  Century From Year              2.812963
347            DCT65f9  String Count                   4.674074
349            DCT83a3  Sum positive Numbers           6.479630
Name: time_in_minutes, dtype: float64

In [22]:
mean_assignments.sort_values(ascending=False).head(10)

assignment_id  code     title
66             DCT2c91  String or Not                          22712.995238
89             DCT68db  Chop a string                          10261.086458
67             DCTf180  string or not                           6805.261538
198            DCT33b3  Sort an array of JavaScript objects     6313.991667
150            DCTc6dc   Unique Elements of two Arrays          6002.763636
122            DCT199f  Uncapitalize each word                  5690.777419
124            DCT2846   Capitalize each Word                   5438.265909
56             DCTf12e  Objectifying Arrays                     4406.150000
44             DCT49ca  Even and Odd                            3842.082955
138            DCTe968  Fill Array with index                   3734.915000
Name: time_in_minutes, dtype: float64