# Assignment "Assignment" System for DCT Academy's Code Platform

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sklearn.neighbors import NearestNeighbors

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

## Creating list of dataframe of all tables, a dictionary mapping to corresponding dataframe

In [3]:
# Dictionary of all the tables and their columns
table_columns = {}

# Dictionary of all dataframes mapped with table names
df_all = {}

# List of all dataframes of all tables
df_list = []

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    df_list.append(df)
    table_columns[table] = list(df.columns)

## Get all student/user assignments
### Merge submissions, assignments, taggings, tags

In [4]:
user_submissions = df_all['submissions'] \
    .merge(df_all['assignments'], left_on='assignment_id', right_on='id', suffixes=('_submissions', '_assignments')) \
    .merge(df_all['taggings'], left_on='assignment_id', right_on='taggable_id', suffixes=('_sub_ass', '_taggings')) \
    .merge(df_all['tags'], left_on='tag_id', right_on='id', suffixes=('_sub_ass_tag', '_tags')) 
user_submissions.drop(['statement', 'output', 'language', 'created_at_submissions', 'updated_at_submissions', 'is_checked', 'body', 'url', 
                       'created_at_assignments', 'updated_at_assignments', 'pass', 'fail', 'tagger_type', 'created_at', 'title', 'total', \
                       'points_submissions', 'source', 'input_size', 'taggable_type', 'approved', 'function_name', 'context', 'id_sub_ass_tag', 'taggings_count', 'is_allowed'], axis=1, inplace=True)

In [5]:
user_submissions.columns

Index(['id_submissions', 'user_id_submissions', 'assignment_id', 'practice_id',
       'time_in_seconds', 'id_assignments', 'user_id_assignments', 'code',
       'points_assignments', 'minutes', 'tag_id', 'taggable_id', 'tagger_id',
       'id_tags', 'name'],
      dtype='object')

In [6]:
user_submissions.head()

,id_submissions,user_id_submissions,assignment_id,practice_id,time_in_seconds,id_assignments,user_id_assignments,code,points_assignments,minutes,tag_id,taggable_id,tagger_id,id_tags,name
0,2,13,13,3,0,13,3,DCT1bab,20,5,2,13,None,2,easy
1,3,13,13,3,0,13,3,DCT1bab,20,5,2,13,None,2,easy
2,5,11,13,3,0,13,3,DCT1bab,20,5,2,13,None,2,easy
3,6,12,13,3,0,13,3,DCT1bab,20,5,2,13,None,2,easy
4,4,13,13,3,0,13,3,DCT1bab,20,5,2,13,None,2,easy

In [7]:
user_submissions['name'] = user_submissions['name'].str.replace('-',',')
user_submissions['name'] = user_submissions['name'].str.replace('/',',')

In [8]:
user_submissions['name'].unique()

array(['easy', 'strings', 'basic', 'functions , methods', 'w3r',
       'javascript', 'arrays', 'hashes', 'prep', 'es6', 'loops',
       'numbers', 'conditions', 'ruby', 'hashes , js objects',
       'variables', 'closures', 'datetime', 'hard', 'medium',
       'easy,medium', 'oops'], dtype=object)

In [9]:
user_submissions['name'] = user_submissions['name'].str.get_dummies(sep=',')
user_submissions_dummy = pd.get_dummies(user_submissions, prefix='tag_dummy_')

In [10]:
user_submissions_dummy.to_html('user_sub_dummy.html')