# Assingment "Assignment" System for DCT Academy's Code Platform

In [1]:
import numpy as np
import pandas as pd
import functools
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

## Creating list of dataframe of all tables, a dictionary mapping to corresponding dataframe

In [3]:
# Dictionary of all the tables and their columns
table_columns = {}

# Dictionary of all dataframes mapped with table names
df_all = {}

# List of all dataframes of all tables
df_list = []

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    df_list.append(df)
    table_columns[table] = list(df.columns)

## Converting dictionary of table and its columns to csv

In [4]:
# df_table_columns = pd.DataFrame(dict([(k, pd.Series(v)) for k,v in table_columns.items()])).fillna("")
# df_table_columns.to_csv('../assets/table_columns.csv', index=False)

## Joining users, assignments, submissions table

In [12]:
student_users_df = df_all['students'][['id', 'name']].merge(df_all['users'][['id']], left_on='id', right_on='id')
student_users_df.

    id                    name
0    2                    test
1   12          Aditya Nagar\t
2   13        Teja Kumar Reddy
3   11    Sujith Kumar Reddy\t
4   14               Indrajit
5   15     Pradeep Kumar Reddy
6   17          Geetika Chopra
7   18            Keerthana DC
8   19         Shweta Gopinath
9   20              Shan Shaji
10  21               Hasan Ali
11  22              Naman Garg
12  16            Pratap Mohan
13  23                    test
14  24         Kalyan Ponugoti
15  25        Kartikay Dwivedi
16  26                Ravi D L
17  27       Sugama Suhasini K
18  28              Sushma D S
19  29             Urvashi Raj
20  30             Pavan Kumar
21  31                     Ani
22  32        Vivek Ravindra\t
23  34      Pallipati Nagaraju
24  35                 Dhanush
25  36                 Asha TV
26  37         Lakshmi Sravani
27  38               Harish BN
28  39      Subhashree Acharya
29  40              Aishwarya
30  41          Chetan Kailash
31  42               Karthik D
32  43               Adarsha V
33  44        Shreedhar Hegade
34  45        Vijaykumar R Pai
35  46            Pavan Kalyan
36  47           Pavan Shivraj
37  48            Aditya Sagar
38  49            NIkhil Reddy
39  50      Bhagirathi Salinka
40  52  Chenchu Lakshmi Sravya
41  54       Sai Srikant Verma
42  55                Gaurav V
43  56                  Anup M
44  57             Nagaraju HK
45  58          Madhu Mandanna
46  59            Vaanu Tamaya
47  60             Prashanth K
48  61          Shreekar Hegde
49  62     Chaitra S Bharadwaj
50  63     Priya Krishnamurthy
51  64            Irawati Gole
52  65               Ranjan HP
53  66               Sri Nitya
54  67           Swetha Mannur
55  68             Kavya Shree
56  69          Chetan Kumar C
57  70         Libin Kuriakose