# Assingment "Assignment" System for DCT Academy's Code Platform

In [1]:
import numpy as np
import pandas as pd
import functools
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

## Creating list of dataframe of all tables, a dictionary mapping to corresponding dataframe

In [3]:
# Dictionary of all the tables and their columns
table_columns = {}

# Dictionary of all dataframes mapped with table names
df_all = {}

# List of all dataframes of all tables
df_list = []

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    df_list.append(df)
    table_columns[table] = list(df.columns)

## Converting dictionary of table and its columns to csv

In [4]:
# df_table_columns = pd.DataFrame(dict([(k, pd.Series(v)) for k,v in table_columns.items()])).fillna("")
# df_table_columns.to_csv('../assets/table_columns.csv', index=False)

## Joining users, assignments, submissions table

In [37]:
student_users_df = df_all['users'][['id']].merge(df_all['students'][['id', 'name']], left_on='id', right_on='id')
student_users_df.columns = ['user_id', 'student_name']
student_users_df.to_html('student_users.html')
student_users_df.head()

   user_id          student_name
0       14             Indrajit
1       15   Pradeep Kumar Reddy
2       12        Aditya Nagar\t
3       16          Pratap Mohan
4       11  Sujith Kumar Reddy\t

In [47]:
submission_assignments_df =  df_all['submissions'][['id', 'user_id', 'assignment_id', 'time_in_seconds', 'pass', 'fail', 'total', 'points', 'is_checked']].merge(df_all['assignments'][['id', 'approved', 'points', 'minutes']], left_on='assignment_id', right_on='id')
submission_assignments_df.columns = ['user_id', 'submission_id', 'assign_id', 'time_in_seconds', 'pass', 'fail', 'total', 'points_submission',
       'is_checked', 'assignment_id', 'approved', 'points_assignment', 'minutes']
submission_assignments_df.drop(['assignment_id'], axis=1, inplace=True)
submission_assignments_df.to_html('submission_assingment.html')
submission_assignments_df.head()

,user_id,submission_id,assign_id,time_in_seconds,pass,fail,total,points_submission,is_checked,approved,points_assignment,minutes
0,2,13,13,0,0,0,0,0.0,false,True,20,5
1,3,13,13,0,0,0,0,0.0,false,True,20,5
2,5,11,13,0,0,0,0,0.0,true,True,20,5
3,6,12,13,0,0,0,0,0.0,true,True,20,5
4,4,13,13,0,0,0,0,0.0,true,True,20,5