In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

# Print the table names
print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

In [3]:
table_columns = {}

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    table_columns[table] = list(df.columns)

In [4]:
df_table_columns = pd.DataFrame(dict([(k, pd.Series(v)) for k,v in table_columns.items()])).fillna("")
df_table_columns.to_csv('../assets/table_columns.csv', index=False)

In [5]:
df = pd.read_sql('assignments', engine)

In [6]:
df.head()

,id,title,body,url,created_at,updated_at,user_id,source,is_allowed,code,approved,points,minutes,function_name,input_size
0,13,Merge two strings,<p>/*<br />\r\nMerging two strings<br />\r\n--...,,2018-01-10 09:17:53.912074,2018-01-11 08:03:07.319208,3,,False,DCT1bab,True,20,5,None,NaN
1,76,Capitalize,<p>Write a JavaScript function to capitalize t...,,2018-01-26 11:01:39.880306,2018-01-26 11:01:39.880306,3,,False,DCTdbf3,True,10,10,None,NaN
2,29,How Equal?,<p>Write a function that compares two values a...,,2018-01-11 10:06:35.274468,2018-06-14 11:04:17.946777,43,,False,DCT66ae,True,10,5,howEqual,2.0
3,14,Temperature Converter,<p>Write a converter function that accepts a t...,,2018-01-11 04:31:40.426231,2018-06-18 06:23:03.373432,44,,False,DCT31db,True,10,5,converter,1.0
4,25,Is it a Palindrome?,<p>Have the function&nbsp;<code>palindrome(str...,,2018-01-11 10:03:03.996127,2018-06-18 07:52:30.451468,44,,False,DCT0ca7,True,10,5,palindrome,1.0